Package: com.pepe424.infusebypassappletv
Name: InfuseBypassAppleTV
Version: 1.0.0
Architecture: appletvos-arm64
Description: Pass-through diagnostic telemetry for Infuse on jailbroken tvOS.
Maintainer: Pepe424
Author: Pepe424
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Homepage: https://github.com/Pepe424/infuseBypassAppleTV
