Package: com.tylinux.infusesecuritytest
Name: InfuseSecurityTest
Version: 1.1.0
Architecture: appletvos-arm64
Description: Pass-through diagnostic telemetry for Infuse on jailbroken tvOS.
Maintainer: tylinux
Author: tylinux
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Homepage: https://github.com/tylinux/infuseBypass
